header {
  padding: 12px;
}

@keyframes TitleSqueeze {
  40% {transform: scale(1.5, 0.8);}
  70% {transform: scale(0.8, 1.2);}
  85% {transform: scale(1.1, 0.9);}
}

@keyframes TitleShrink {
  0% {font-size: 500px;}
}

@keyframes TitleRotate {
  0% {transform: rotate(320deg);}
  85% {transform: rotate(270deg);}
  97% {transform: rotate(30deg);}
}

@keyframes FadeIn {
  0%   { opacity: 0; }
  92%  { opacity: 0; }
  100% { opacity: 1; }
}

a {
  color: #00c0ce;
}

.title {
  position: relative;
  padding: 4px;
  font-size: 56px;
  font-style: oblique;
  text-align: center;
  display: inline-block;
  transform: rotate(-2deg);
  animation: TitleSqueeze 1s ease 6.8s, TitleShrink 6.4s ease-in;
}

.bordered {
  border: 5px solid;
  border-radius: 8px;
  padding: 4px;
  width: 48px;
  display: inline-block;
  transform: skew(10deg);
}

.link {
  font-weight: bold;
  font-size: 14px;
  display: inline-flex;
  position: absolute;
  margin-left: 400px;
  right: 20px;
  top: 32px;
  align-items: flex-end;
  animation: 10s FadeIn;
}

#one {
  border-color: #42d117;
}

#two {
 border-color: #f20e0e;
}

#three {
  border-color: #00c0ce;
}

#four {
  border-color: #bf00d1;
}

#five {
  border-color: #fff200;
}

#six {
  border-color: #5a19ff;
}

#seven {
  border-color: #ff6e00;
}