header {
  padding: 12px;
}

@keyframes TitleSqueeze {
  40% {transform: scale(1.5, 0.8);}
  70% {transform: scale(0.8, 1.2);}
  85% {transform: scale(1.1, 0.9);}
}

@keyframes TitleShrink {
  0% {font-size: 500px;}
}

@keyframes FadeIn {
  0%   { opacity: 0; }
  92%  { opacity: 0; }
  100% { opacity: 1; }
}

a {
  color: #00c0ce;
}

.title {
  position: relative;
  padding: 0.4vw;
  font-size: 4vw;
  font-style: oblique;
  text-align: center;
  display: inline-block;
  transform: rotate(-2deg);
  animation: TitleSqueeze 1s ease;
}

.bordered {
  border: 0.5vw solid;
  border-radius: 1vw;
  padding: 0.4vw;
  width: 3.5vw;
  display: inline-block;
  transform: skew(10deg);
}

.link {
  font-weight: bold;
  font-size: 2vw;
  /*display: inline-flex;*/
  position: absolute;
  top: 2vw;
  right: 0vw;
  padding: 2vw;
  align-items: flex-end;
  animation: 3s FadeIn;
}

.link span {
  margin-right: 4vw;
}

#one {
  border-color: #42d117;
}

#two {
 border-color: #f20e0e;
}

#three {
  border-color: #00c0ce;
}

#four {
  border-color: #bf00d1;
}

#five {
  border-color: #fff200;
}

#six {
  border-color: #5a19ff;
}

#seven {
  border-color: #ff6e00;
}