@keyframes FadeIn {
  0%   { opacity: 0; }
  80%  { opacity: 0; }
  100% { opacity: 1; }
}

.Login {
  text-align: center;
}

#logincontainer {
  margin: auto;
  margin-top: 44px;
  width: 360px;
  border: 5px solid;
  border-color: white;
  border-radius: 8px;
  padding: 40px;
  background-color: rgba(255,255,255, 0.2);
  animation: FadeIn 9.6s ease;
}

.Testimonials {
  margin: auto;
  margin-top: 120px;
  width: 90%;
  animation: FadeIn 10.4s ease;
}

.TestimonialsContainer {
  margin-top: 20px;
  padding: 10px;
  display: flex;
  /*flex-direction: column;*/
  justify-content: space-between;
  align-items: stretch;
}

.TestimonialLeft {
  padding: 8px;
  /*width: 40%;*/
  /*margin-top: 40px;*/
  /*margin-left: 10px;*/
  border: 2px solid;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.7);
}

.TestimonialRight {
  padding: 8px;
  /*width: 40%;*/
  margin-top: 40px;
  /*margin-right: 40px;*/
  border: 2px solid;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.7);
}

.TestimonialQuote {
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}

.TestimonialAuthor {
  margin-top: 8px;
  text-align: right;
  font-style: italic;
  margin-right: 20px;
  font-size: 12px;
  font-weight: bold;
}

.Testimonials h2 {
  margin: auto;
  border: 2px solid;
  border-radius: 8px;
  width: 50%;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
}

.T1 {
  width: 48%;
  padding: 12px;
}

.T2 {
  width: 48%;
  margin-top: 80px;
  padding: 12px;

}

.notification {
  font-weight: bold;
  color: #fff200;
}

/*p {position: auto;}*/