@keyframes FadeIn {
  0%   { opacity: 0; }
  80%  { opacity: 0; }
  100% { opacity: 1; }
}

#logincontainer {
  margin: auto;
  margin-top: 44px;
  width: 360px;
  border: 5px solid;
  border-color: white;
  border-radius: 8px;
  padding: 40px;
  text-align: center;
  animation: FadeIn 9.6s ease;
}

#containercontents {
  position: absolute;
  margin: auto;
  margin-top: -40px;
  margin-left: -42px;
  width: 436px;
  height: 196px;
  border: 5px solid;
  border-color: white;
  border-radius: 8px;
  background-color: white;
  opacity: 0.2;
}

p {position: auto;}