.Message {
  padding: 4px;
  font-size: calc(8px + 0.5vw);
  margin-bottom: calc(1px + 0.7vw);
}

.MessageAuthor {
  font-weight: bold;
  color: #00c0ce;
  font-size: calc(6px + 0.5vw);
}

.MessageTimestamp {
  font-size: calc(4px + 0.4vw);
  color: rgba(255, 255, 255, 0.5);
}