.champs {
  font-weight: bold;
  display: inline-block;
  margin: auto;
  border: 5px solid;
  border-color: #fff200;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  padding: 12px;
  text-align: center;
  animation: FadeIn 1s ease;
  padding: 24px;
}

.champs div {
  padding: 8px;
}

.champs h2 {
  border: 2px solid;
  border-radius: 8px;
}

.champscontainer {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
