@keyframes SlideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  } 
}

@keyframes Hide {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.PickFiveStandingsTeamList {
  font-size: calc(7px + 0.25vw);
  color: #42d117;
  /*padding: calc(2px + 0.4vw);*/
}

.PickFiveStandingsTeamListContainer {
  margin-left: 2px;
  margin-right: 2px;
  overflow: hidden;
}

.PickFiveStandingsTeamContainer {
  overflow: hidden;
  /*padding: 1px;*/
}

.PickFiveStandingsTeamContainer > div {
  display: flex;
  justify-content: space-between;
  padding: calc(0.2px + 0.1vw);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  background-color: rgb(66,209,23,0.15);
  margin-top: 0.1vw;
}

.PickFiveStandingsTeamContainer span {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.PickFiveStandingsTeam0 {
  animation: SlideDown .08s ease-in-out 0.3s, Hide 0.35s;;
  overflow: hidden;
}

.PickFiveStandingsTeam1 {
  animation: SlideDown .08s ease-in-out 0.38s, Hide 0.385s;
  overflow: hidden;
}

.PickFiveStandingsTeam2 {
  animation: SlideDown .08s ease-in-out 0.46s, Hide 0.465s;
  overflow: hidden;
}

.PickFiveStandingsTeam3 {
  animation: SlideDown .08s ease-in-out 0.54s, Hide 0.545s;
  overflow: hidden;
}

.PickFiveStandingsTeam4 {
  animation: SlideDown .08s ease-in-out 0.62s, Hide 0.625s;
  overflow: hidden;
}

.PickFiveStandingsTeam5 {
  animation: SlideDown .08s ease-in-out 0.7s, Hide 0.705s;
  overflow: hidden;
}

.PickFivePointer {
  margin-left: 10%;
  animation: SlideDown 0.3s ease-in-out;
  overflow: hidden;
}

.PickFivePointer div {
  width: 24%;
  height: calc(2px + 0.2vw);
  border-left: 1px solid #42d117;
  border-top-left-radius: 4px;
  border-top: 1px solid #42d117;
}

.PickFiveStandingsTeamRound {
  font-size: calc(6px + 0.2vw);
}

.PickFiveStandingsTeamPoints {
  background-color: rgb(66,209,23,0.25);
  border-right: 1px solid #42d117;
  padding: 2px;
  padding-left: calc(2px + 0.2vw);
  padding-right: calc(2px + 0.2vw);
  border-radius: 8px;
  border-bottom-left-radius: 0px;
}