.PicksBySchool {
  overflow: scroll;
  text-align: left;
  font-size: calc(8px + 0.4vw);
}

.PickSchoolName {
  margin-left: 5px;
}

.PickNumber {
  padding: 2px;
  margin-right: 5px;
  margin-left: 5px;
  text-align: right;
}

.PicksBySchoolSchool {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: #5a19ff;
  margin-top: 8px;
}