.PickNew {
  padding: 2px;
  border-top: 1px solid;
  border-left: 1px solid;
  border-radius: 8px;
  border-color: #ff6e00;
  margin-top: 12px;
/*  background-color: rgb(255, 110, 0, 0.2);*/
}

.PickName {
  margin-left: 5px;
  margin-right: 5px;
}

.PickNew:hover {
  border-color: #fff200;
}