.PickFive {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: calc(40px + 2vw);
  margin-bottom: 100px;
  font-size: calc(8px + 0.4vw);
  height: calc(300px + 10vw);
}

.PickFive > div {
  width: 30%;
  max-width: 360px;
  min-width: 240px;
  max-height: 400px;
  /*height: 50vw;*/
}

.PickFive h3 {
  font-size: calc(12px + 0.4vw);
  border: calc(1px + 0.1vw) solid;
  border-radius: 8px;
  text-align: center;
  padding: 1px;
}

.PickFive h3:hover {
  background-color: rgb(255, 255, 255, 0.3);
}

.PickFive h3:active {
  color: #fff200;
  border-color: #fff200;
  background-color: rgb(0, 0, 0, 0.1);
}

.PickFiveDescription {
  margin: auto;
  margin-top: calc(10px + 3vw);
  width: 60%;
  max-width: 400px;
  border-radius: 8px;
  border: 2px solid;
  background-color: rgb(255, 255, 255, 0.15);
  padding: 10px;
  font-size: calc(10px + 0.2vw);
  font-weight: 500;
}

#dim {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: flex-start;*/
  /*align-items: flex-start;*/

}
