.PickFiveStanding {
  border-radius: 8px;
  margin-bottom: 8px;
}

.PickFiveStandingYear {
  margin-left: 2%;
  font-size: calc(7.5px + 0.15vw);
  font-weight: 450;
}

.PickFiveStandingName {
  padding: 1px;
  font-size: calc(10px + 0.2vw);
}

.PickFiveStandingScore {
  border-right: 1px solid #00c0ce;
  border-radius: 8px;
  padding: 4px;
  background-color: rgb(0, 192, 206, 0.3);
}

.PickFiveStandingNameYearContainer {
  width: 80%;
}

.PickFiveStandingHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(8px + 0.25vw);
  padding: 2px;
}

.PickFiveStanding:hover {
  border-color: #fff200;
  background-color: rgb(255, 255, 255, 0.1);
}
