.Picks {
  display: flex;
  /*flex-direction: column;*/
  justify-content: space-evenly;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 100px;
  /*border: 2px solid;*/
}

.PicksInner {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 80px;
  width: 50%;
  z-index: 1;
}

.PicksOuter {
  /*border: 2px solid;*/
}

.PicksTestimonialsToggle {
  display: flex;
  /*margin-top: 160px;*/
}

.PicksTestimonialsToggle a {
  border: 2px solid;
  border-radius: 8px;
  display: inline-block;
  margin: auto;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}