@keyframes SlideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes Hide {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.PicksTeamList {
  font-size: calc(8px + 0.2vw);
  color: #42d117;
  display: flex;
  justify-content: flex-start;
}

.PicksTeamContainer > div {
  padding: 1px;
}

.PicksTeamListContainer {
  padding: 4px;
  margin-left: 2px;
  overflow: hidden;
}

.PicksTeamContainer {
  overflow: hidden;
}

.PicksTeam0 {
  animation: SlideDown 0.05s ease-in-out;
  overflow: hidden;
}

.PicksTeam1 {
  animation: SlideDown 0.05s ease-in-out 0.05s, Hide 0.055s;
  overflow: hidden;
}

.PicksTeam2 {
  animation: SlideDown 0.05s ease-in-out 0.1s, Hide 0.105s;
  overflow: hidden;
}

.PicksTeam3 {
  animation: SlideDown 0.05s ease-in-out 0.15s, Hide 0.155s;
  overflow: hidden;
}

.PicksTeam4 {
  animation: SlideDown 0.05s ease-in-out 0.2s, Hide 0.205s;
  overflow: hidden;
}
