.PickFiveStandingsContainer {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  border: 5px solid;
  border-color: #ff6e00;
  border-radius: 8px;
  padding: calc(2px + 0.5vw);
  text-align: left;
  background-color: rgba(0, 0, 0, 0.7);
  animation: FadeIn 1s ease;
  max-height: 560px;
}

.PickFiveStandings {
  overflow: auto;
  margin-left: 4px;
  margin-right: 4px;
  max-height: 480px;
}

.PickFiveStandingsStandings > div {
  padding: 2px;
  border-top: 2px solid;
  border-right: 2px solid;
  border-radius: 8px;
  border-color: #5a19ff;
  margin-top: calc(2px + 0.5vw);
  font-size: calc(8px + 0.4vw);
}