.PicksTestimonials {
  /*margin: 12px 12px 12px 12px;*/
  /*width: 90%;*/
  margin-top: -80px;
  animation: FadeIn 1s ease;
  border: 4px solid;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.4);
}

.PicksTestimonialsContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px 10px 10px 10px;
  /*justify-content: space-between;*/
  align-items: stretch;
}

.PicksTestimonialLeft {
  padding: 8px;
  /*width: 40%;*/
  margin-top: 24px;
  margin-right: 64px;
  /*margin-left: 10px;*/
  border: 2px solid;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.7);
}

.PicksTestimonialRight {
  padding: 8px;
  /*width: 40%;*/
  margin-top: 24px;
  margin-left: 64px;

  /*margin-right: 40px;*/
  border: 2px solid;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.7);
}

.PicksTestimonialQuote {
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}

.PicksTestimonialAuthor {
  margin-top: 8px;
  text-align: right;
  font-style: italic;
  margin-right: 20px;
  font-size: 12px;
  font-weight: bold;
}

.PicksTestimonials h2 {
  text-align: center;
  margin: auto;
  margin-top: 16px;
  border: 3px solid;
  border-radius: 8px;
  width: 50%;
  font-size: 20px;
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.5);
}