.ScoreboardGame {
  padding: calc(3px + 0.3vw);
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid transparent;
  border-radius: 8px;
  margin: 10px 12px 10px 12px;
  color: white;
  text-decoration: none
}

.ScoreboardGame:hover {
  border: 1px solid white;
}

.ScoreboardGame div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(7px + 0.5vw);
}

.ScoreboardGameTeam {
  font-weight: bold;
  margin-right: calc(30px + 1.5vw);
  margin-bottom: 2px;
}

.ScoreboardGame > div {
  display: flex;
  flex-direction: column;
}

.ScoreboardGameClock {
  margin-top: 8px;
}

.ScoreboardGameClock span {
  font-size: calc(5.6px + 0.4vw);
}

.ScoreboardGame a {
  position: absolute;
  border-radius: 8px;
  border: 5px solid red;
}