.SimScore {
  overflow: auto;
}

.SimScoreScore {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  border-right: 1px solid;
  border-top: 1px solid;
  border-color: #42d117;
  margin-top: 8px;
  align-items: center;
  padding: 2px;
  background-color: rgb(66, 209, 23, 0.4);
}

.SimScoreName {
  margin-left: 5px;
}

.SimScoreContainer h3 span {
  margin-left: 8px;
  margin-right: 8px;
}

.SimScoreNumber {
  padding: 2px;
  margin-right: 5px;
}
