.StandingNew {
  padding: 2px;
  border-top: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
  border-radius: 8px;
  border-color: #ff6e00;
  margin-top: calc(2px + 0.5vw);
  font-size: calc(8px + 0.4vw);
}

.StandingName {
  margin-left: 5px;
  margin-right: 5px;
}

.StandingWins {
  margin-left: 5px;
  margin-right: 5px;
}

.StandingHeader {
  display: flex;
  justify-content: space-between;
}

.StandingHeader :active {
  color: #fff200;
}

.StandingNew:hover {
  border-color: #fff200;
}