.Standings {
  display: table;
  margin: auto;
  margin-top: 44px;
  width: 360px;
  border: 5px solid;
  border-color: white;
  border-radius: 8px;
  padding: 12px;
  text-align: center;
  animation: FadeIn 2s ease;
}

#bkgd {
  display: table-header-group;
  position: absolute;
  /*margin: auto;*/
  margin-top: -824px;
  margin-left: -19px;
  height: 670px;
  width: 228px;
  border: 5px solid;
  border-color: white;
  border-radius: 8px;
  padding: 80px;
  text-align: center;
  background-color: black;
  opacity: 0.5;
  z-index: -1;
  /*animation: FadeIn 2s ease;*/
}

#comment {
  position: absolute;
  top: 240px;
  right: 40px;
  width: 100px;
  border: 2px solid;
  border-color: white;
  border-radius: 8px;
  padding: 10px;
}