@keyframes SlideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes Hide {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.StandingsTeamList {
  font-size: calc(7.5px + 0.25vw);
  color: #42d117;
  padding: calc(1px + 0.2vw);
}

.StandingsTeamListContainer {
  position: relative;
  margin-left: 2px;
  margin-right: 2px;
  overflow: hidden;
}

.StandingsTeamContainer {
  overflow: hidden;
  padding: 1px;
}

.StandingsTeamContainer > div {
  display: flex;
  justify-content: space-between;
  border-radius: 8px 16px 16px 16px;
  background-color: rgb(66, 209, 23, 0.2);
  margin-top: calc(1px + 0.2vw);
  border-top: 1px solid rgb(66, 209, 23, 0.35);
  border-bottom: 1px transparent;
  cursor: pointer;
}

.StandingsTeamContainer > div:hover {
  color: white;
}

.StandingsTeamContainer > div:active {
  color: yellow;
  background-color: rgb(66, 209, 23, 0.25);
  border-top: 1px transparent;
  border-bottom: 1px solid rgb(66, 209, 23, 0.35);
}

.StandingsTeamContainer span {
  display: flex;
  padding: 1px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 1.5px;
  align-items: center;
}

.StandingsTeam0 {
  animation: SlideDown 0.08s ease-in-out 0.3s, Hide 0.35s;
  overflow: hidden;
}

.StandingsTeam1 {
  animation: SlideDown 0.08s ease-in-out 0.38s, Hide 0.385s;
  overflow: hidden;
}

.StandingsTeam2 {
  animation: SlideDown 0.08s ease-in-out 0.46s, Hide 0.465s;
  overflow: hidden;
}

.StandingsTeam3 {
  animation: SlideDown 0.08s ease-in-out 0.54s, Hide 0.545s;
  overflow: hidden;
}

.StandingsTeam4 {
  animation: SlideDown 0.08s ease-in-out 0.62s, Hide 0.625s;
  overflow: hidden;
}

.StandingsTeam5 {
  animation: SlideDown 0.08s ease-in-out 0.7s, Hide 0.705s;
  overflow: hidden;
}

.StandingsTeamRound {
  font-size: calc(6px + 0.2vw);
}

.StandingsTeamPoints {
  background-color: rgb(66, 209, 23, 0.35);
  border-right: 1px solid #42d117;
  padding: 0.8px;
  padding-left: calc(2px + 0.2vw);
  padding-right: calc(2px + 0.2vw);
  border-radius: 8px;
  border-bottom-left-radius: 0px;
}

.TeamBoxContainer {
  display: flex;
  position: absolute;
  left: calc(84px + 20vw);
  top: calc(160px + 16vw);
  border-radius: 8px;
  background-color: rgb(0, 0, 0, 0.8);
  padding: 16px;
  border: 4px solid white;
}
