.TeamSelect {
  position: relative;
  font-weight: bold;
  top: 80px;
  display: flex;
  justify-content: space-between;
}

.TeamsContainer {
  height: 560px;
  min-width: 240px;
  border: 5px solid;
  border-color: #42d117;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  padding: 12px;
  animation: FadeIn 1s ease;
  font-size: calc(10px + 0.5vw);
  margin-left: 20px;
  margin-right: 20px;
}

.TeamsContainerHeading {
  display: flex;
  justify-content: space-between;
  border: 1px solid;
  border-color: white;
  border-radius: 8px;
  font-size: 10px;
  padding: 4px;
  margin-bottom: 4px;
}

.TeamsContainerBody {
  height: 520px;
  overflow: auto;
}

.TeamsContainerBody div:hover {
  background-color: rgba(0, 192, 206, 0.5);
}

.TeamsContainerBody div:active {
  background-color: rgba(0, 192, 206);
}

.TeamSelectRow {
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  padding: 4px;
}

.SelectBoxContainer {
  margin-top: 80px;
  margin-right: 80px;
  border: 5px solid;
  border-color: #fff200;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  padding: 12px;
  animation: FadeIn 1.5s ease;
  font-size: 14px;
  text-align: center;
}

.SelectBoxHeader {
  border: 1px solid;
  border-color: white;
  border-radius: 8px;
  font-size: calc(8px + 0.2vw);
  padding: 4px;
  margin-bottom: 4px;
}

.SelectBoxTeams {
  margin-top: 20px;
  height: 140px;
  overflow: auto;
  font-size: calc(10px + 0.3vw);
}

.SelectBoxTeamRow {
  padding: 4px;
}

.SelectBoxFooter {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.SelectBoxSubmit {
  margin-top: 20px;
}

.SelectBoxWinTotal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80px;
  width: 80px;
  border: 3px solid;
  border-radius: 50%;
  border-color: white;
  padding: 12px;
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.5);
}

.SelectBoxNotification {
  font-size: 16px;
  margin-top: 8px;
  color: #fff200;
  border-radius: 8px;
  background-color: rgb(0, 0, 0, 0.2);
}

.UserBox {
  margin-top: 60px;
  margin-left: 80px;
  width: 164px;
  height: 264px;
  border: 3px solid;
  border-color: #00c0ce;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  padding: 12px;
  animation: FadeIn 0.5s ease;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.UserBox > div {
  padding: 4px;
}

.UserBoxMessageContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
}

.UserBoxMessage {
  font-size: calc(11px);
  text-align: center;
  justify-content: space-between;
}

.UserBoxForm {
  text-align: center;
  font-size: 14px;
  color: #fff200;
}

.UserBoxForm input {
  margin-top: 5px;
  width: 80px;
}

.UserBoxTeams {
  border-radius: 8px;
  background-color: rgb(255, 255, 255, 0.1);
}

.UserBoxTeamsList {
  font-size: 10px;
}

.highlighted {
  background-color: rgba(0, 192, 206);
}

.TeamSelectTempContainer {
  display: flex;
  justify-content: center;
}

.TeamSelectTemp {
  margin-top: 100px;
  border-radius: 8px;
  border: 3px solid #f20e0e;
  background-color: rgb(121, 7, 7, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  padding: 12px;
  width: 50%;
}

.MainTeamName {
  margin-right: 10px;
}
