.Testimonials {
  margin: auto;
  margin-top: 120px;
  width: 90%;
  animation: FadeIn 10.4s ease;
}

.TestimonialsContainer {
  margin-top: 40px;
  padding: 10px;
  display: flex;
  /*flex-direction: column;*/
  justify-content: space-between;
  align-items: stretch;
}

.TestimonialLeft {
  padding: 8px;
  /*width: 40%;*/
  /*margin-top: 40px;*/
  /*margin-left: 10px;*/
  border: 2px solid;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.7);
}

.TestimonialRight {
  padding: 8px;
  /*width: 40%;*/
  margin-top: 64px;

  /*margin-right: 40px;*/
  border: 2px solid;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.7);
}

.TestimonialQuote {
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}

.TestimonialAuthor {
  margin-top: 8px;
  text-align: right;
  font-style: italic;
  margin-right: 20px;
  font-size: 12px;
  font-weight: bold;
}

.Testimonials h2 {
  margin: auto;
  border: 3px solid;
  border-radius: 8px;
  width: 50%;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
}

.T1 {
  width: 48%;
  padding: 12px;
}

.T2 {
  width: 48%;
  margin-top: 80px;
  margin-left: 40px;
  padding: 12px;
}