.TestimonialsHeader h2 {
  text-align: center;
  margin: auto;
  margin-top: 16px;
  border: 3px solid;
  border-radius: 8px;
  width: 50%;
  font-size: calc(8px + 1vw);
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.8);
}

.TestimonialsBody {
  padding: 0.2vw;
  display: flex;
  flex-direction: column;
  margin: 10px 10px 10px 10px;
  overflow: scroll;
}

.TestimonialLeft {
  padding: 1vw;
  margin-top: calc(8px + 1vw);
  margin-right: calc(64px + 1vw);
  border: 2px solid;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.8);
}

.TestimonialRight {
  padding: 8px;
  margin-top: calc(8px + 1vw);
  margin-left: calc(64px + 1vw);
  border: 2px solid;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.8);
}

.TestimonialQuote {
  text-align: center;
  font-size: calc(8px + 0.5vw);
  font-weight: normal;
}

.TestimonialAuthor {
  margin-top: 8px;
  text-align: right;
  font-style: italic;
  margin-right: 20px;
  font-size: calc(4px + 0.5vw);
  font-weight: bold;
}